<div class="container">
    <form (submit)="loginUser($event)">

        <div><h1>Login</h1></div>
        <div>
          <input type="text" autocomplete="off" placeholder="Username" id="username">
        </div>
        <div>
          <input type="password" autocomplete="off" placeholder="Password" id="password">
        </div>
        <div>
          <button type="submit" id="submit">Ingresar</button>
        </div>
        <div>
            No estas registrado <a href="#"> Registrate aquí</a>
        </div> 
    
    </form>

</div>