*{
    font-family: 'Roboto';
}
form {
    display: flex;
  
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    padding: 50px;
    background: #eee;

  }
  
  input#titulo,input#autor, input#imagen {
    outline: 0;
    font-size: 20px;
    padding:2%;
    margin: 5px;
    min-width: 300px;
  }
  
  button#submit {
    margin: 20px 0px;
    padding: 10px 0px;
    color:rgb(44, 43, 43);
    width: 330px;
    background: #FFC107;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }