
  <div class="container">
    <span class="card-title"><h2>Agregar Libro</h2></span>
    <form (ngSubmit)="onSubmit()" class="col s6">
      <div class="row">
        <div >
          <input type="text" id="titulo" placeholder="Titulo de Libro"  name="Titulo" >
        </div>
        <div>
            <input type="text" id="autor" placeholder="Nombre de Autor" name="Autor" >
        </div>
        <div>
          <input type="text"  id="imagen" placeholder="Link imagen" name="Imagen" >
        </div>
        <button id="submit" type="submit">Registrar Libro</button>
      </div>

    </form>
  </div>

