<div class="cuerpo">
  <form class="example-form">
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Buscar Libros</mat-label>
      <input matInput placeholder="Nombre del libro">
      <mat-icon matSuffix>chrome_reader_mode</mat-icon>
    </mat-form-field>
  </form>
  <h2 style="font-weight: 400">Libros sugeridos |
    <button mat-stroked-button color="primary">Agregar Nuevo</button>
  </h2>
  <div *ngIf="libros?.length > 0;else noItems">
    <div *ngFor="let libro of libros" class="collection" style="display: inline-block!important">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>{{libro.titulo}}</mat-card-title>
          <mat-card-subtitle>{{libro.autor}}</mat-card-subtitle>
        </mat-card-header>
        <img style="max-width: 216px;height: 294px" mat-card-image src="{{libro.imagen}}">
        <mat-card-actions>
          <button mat-button>Agregar a Aula</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  <ng-template #noItems>
    <hr>
    <h5>No hay items en la lista</h5>
  </ng-template>

  <h2 style="font-weight: 400">Aulas creadas |
    <button mat-stroked-button color="primary">Agregar Nuevo</button>
  </h2>

  <div *ngIf="aulas?.length > 0;else noItems">
    <div *ngFor="let aula of aulas" class="collection" style="display: inline-block!important">
      <mat-card class="example-card" style="width:400px">
        <mat-card-header>
          <mat-card-title>{{aula.codaula}}</mat-card-title>
          <mat-card-subtitle>{{aula.institucion}}</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    </div>
  </div>
</div>
<mat-toolbar class="pie">
  <div>
    Desarrollado por HeroesTech 2018
  </div>
</mat-toolbar>